*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{
background:#05060a;
color:white;
overflow:hidden;
}

.app{
display:flex;
height:100vh;
width:100%;
background:#05060a;
}

.main{
flex:1;
display:flex;
flex-direction:column;
overflow:hidden;
}

.home{
flex:1;
padding:25px;
overflow-y:auto;
}

.welcome{
margin-bottom:25px;
}

.welcome h1{
font-size:42px;
font-weight:700;
margin-bottom:8px;
}

.welcome span{
color:#8b5cf6;
}

.welcome p{
font-size:18px;
color:#9ca3af;
}

::-webkit-scrollbar{
width:5px;
}

::-webkit-scrollbar-thumb{
background:#8b5cf6;
border-radius:10px;
}

::-webkit-scrollbar-track{
background:transparent;
  }
