import "./FeatureCards.css";
import {
  FiMessageSquare,
  FiImage,
  FiSearch,
  FiEdit3,
} from "react-icons/fi";

const cards = [
  {
    icon: <FiMessageSquare />,
    title: "AI Chat",
    desc: "Smart Conversation",
  },
  {
    icon: <FiSearch />,
    title: "AI Search",
    desc: "Search Everything",
  },
  {
    icon: <FiImage />,
    title: "AI Images",
    desc: "Generate Images",
  },
  {
    icon: <FiEdit3 />,
    title: "AI Writer",
    desc: "Write Anything",
  },
];

function FeatureCards() {
  return (
    <div className="feature-grid">
      {cards.map((card, index) => (
        <div className="feature-card" key={index}>
          <div className="feature-icon">
            {card.icon}
          </div>

          <h3>{card.title}</h3>

          <p>{card.desc}</p>
        </div>
      ))}
    </div>
  );
}

export default FeatureCards;
