.feature-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:15px;
  margin:20px 0;
}

.feature-card{
  background:#151d33;
  border-radius:20px;
  padding:18px;
  text-align:center;
  border:1px solid rgba(255,255,255,.05);
  transition:.3s;
}

.feature-card:hover{
  transform:translateY(-4px);
  border-color:#7c3aed;
}

.feature-icon{
  color:#9f67ff;
  margin-bottom:12px;
}

.feature-card h3{
  color:white;
  font-size:17px;
  margin-bottom:8px;
}

.feature-card p{
  color:#9ca3af;
  font-size:13px;
}
